.messagesContainer {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.messagesList {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 400px; /* Limit the height of the list */
    overflow-y: auto; /* Enable vertical scrolling */
    padding-right: 10px; /* Add some space for scrollbar */
}

.messageItem {
    padding: 10px;
    margin: 8px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column-reverse;
}

    .messageItem strong {
        font-size: 1rem;
        color: rgb(22, 96, 213);
        margin-bottom: 5px;
    }

.messageContent {
    font-size: 1.2rem;
    color: #333;
    word-wrap: break-word; /* Ensure long text is wrapped and doesn't overflow */
}
